<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Atrasado</h5>
    <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
    <a href="#" class="card-link">Diseño del Componente</a>
    <p class="card-text"></p>
    <a href="#" class="card-link">Fecha</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Recordatorio</h5>
    <h6 class="card-subtitle mb-2 text-muted">Reminders did not load</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">Refresh Reminders</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Actividades próximas</h5>
    <h6 class="card-subtitle mb-2 text-muted">Upcoming items did not load</h6>
    <p class="card-text"></p>
    <a href="#" class="card-link">Refresh Upcoming Items</a>
  </div>
</div>
